.chart-template-analytic {
  background-color: $orient;
  .recharts-default-tooltip {
    background-color: $vin-blue !important;
  }
  .recharts-reference-line {
    .recharts-label {
      tspan {
        fill: $white;
      }
    }
  }
}
