.template-checkboxGroup {
  max-height: 300px;
  overflow-y: scroll;
}

.Modal {
  position: fixed;
  overflow: auto;
  outline: none;
  z-index: 10;
  height: 100%;
  margin: auto;
}

.Modal--full {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.1;
  background-color: $primary;
}
