$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

.spinner-wrapper {
  display: block;
  position: relative;
  height: 200px;
}

.spinner--row {
  position: absolute;
  top: 10 * $base-spacing;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.spinner--centered {
  position: absolute;
  top: 45%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

.path--primary {
  stroke: $vin-blue;
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

// css spinner
.spinner__dots {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner__dots > div {
  width: 18px;
  height: 18px;
  background-color: $vin-blue;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner__dots .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner__dots .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// circle spinner
.loader-spinner {
  border: 6px solid $warm-gray; /* Light grey */
  border-top: 6px solid $vin-blue; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
